body {
    margin: 0%;
    padding: 0%;
    background-color: #1c2b32;
}

.login-box {
    background-color: #22343c;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 80%;
    text-align: center;
}

h2 {
    color: #00bcd4;
    margin-bottom: 30px;
}

p {
    color: white;
}

.sign-box {
    background-color: #22343c;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 80%;
    text-align: center;
}